* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(img/bg.png);
    background-attachment: fixed;
    background-color: #fec513;
    background-size: cover;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 1000px;
    border: 3px solid black;
    margin: 20px auto;
}

.judul {
    background-color: white;
}

.judul h1 {
    padding: 30px 30px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: black;
}

.navbar {
    text-align: center;
    background-color: #3b4da2;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
}

.navbar a:hover {
    background-color: #141e50;
}

.main {
    display: flex;
    background-color: white;
}

.menu {
    width: 700px;
}

.menu-content {
    display: flex;
    padding: 20px 30px;
}

.menu-content img {
    width: 200px;
    height: 150px;
    border: 3px solid black;
    margin-right: 30px;
}

.menu-content text {
    display: block;
}

.menu-content .text h2 {
    font-size: 24px;
    font-weight: 600;
}

.menu-content .text h3 {
    color: #d34841;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 3px;
}

.menu-content .text h4 {
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
}

.sidebar {
    width: 300px;
}

.popular {
    position: sticky;
    top: 0px;
    padding: 20px 30px;
}

.popular h2,
.contact h2,
.rating h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}

.popular li {
    list-style-type: none;
}

.popular li:hover {
    padding-left: 10px;
    background-color: #e97770;
    transition: linear .2s;
}

.popular a {
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    text-decoration: none;
    color: black
}

.contact {
    position: sticky;
    top: 200px;
    padding: 0px 30px 20px;
}

.contact a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding-top: 10px;
    padding-right: 30px;
}

.contact a:hover {
    color: #d34841;
}

.rating {
    position: sticky;
    top: 305px;
    padding: 10px 30px 20px;
}

.rating-content {
    border-radius: 10px;
    padding: 0 10px 10px 5px;
}

.rating-content .profile {
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
}

.rating-content .profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.rating-content .profile .txt {
    width: 150px;
}

.rating-content .profile .txt h5 {
    font-size: 14px;
    font-weight: 600;
    padding: 3px 10px 0;
}

.rating-content .profile .txt h6 {
    font-size: 11px;
    font-weight: 300;
    padding: 0 10px;
}

.rating-content .profile .star {
    display: flex;
    align-items: center;
    border: .5px solid #bbb;
    border-radius: 10px;
    margin: 5px 5px 10px 20px;
}

.rating-content .profile .star img {
    width: 15px;
    height: 15px;
    padding: 3px 0px 3px 5px;
    border: none;
    border-radius: 0;
}

.rating-content .profile .star h6 {
    padding: 3px 5px;
}

.rating-content .comment {
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    border: .5px solid #bbb;
    border-radius: 10px;
    padding: 5px;
}

.rating-content .food {
    display: flex;
    padding: 5px;
    align-items: center;
}

.rating-content .food img {
    width: 12px;
    height: 15px;
    padding: 3px;
}

.rating-content .food h6 {
    padding: 3px 5px;
    font-size: 11px;
    font-weight: 400;
}

.footer {
    text-align: center;
    background-color: #3b4da2;
}

.footer h4 {
    padding: 10px 0;
    color: white;
    font-weight: 400;
}